.signup-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.signup-header {
    font-size: 2em;
    margin-bottom: 20px;
}

.signup-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

.signup-name,
.signup-email,
.signup-password,
.signup-conf-password {
    margin-bottom: 20px;
    width: 80%;
}

.signup-name input,
.signup-email input,
.signup-password input,
.signup-conf-password input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.signup-form button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}

.signup-form button:hover {
    background-color: #0056b3;
}

